.raceTable{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;

    .carBtns{
        
        button{
            border-radius: 4px;
        }

        
    }
    
}