.actionBtns{
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    button{
        padding: 4px 12px;
        border-radius: 6px;
    }
    
}